 <!-- Footer -->
    <footer class="footer clearfix">
        <div class="container">
            <!-- first footer -->
            <div class="first-footer">
                <div class="row">
                    <div class="col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <div class="links dark footer-contact-links">
                            <div class="footer-contact-links-wrapper">
                                <div class="footer-contact-link-wrapper">
                                    <div class="image-wrapper footer-contact-link-icon">
                                        <div class="footer-icon"> <i class="fa-thin fa-phone"></i> </div>
                                    </div>
                                    <div class="footer-contact-link-content">
                        <h6>Téléphone</h6>
                        <p>+33 0669537573</p>
                                    </div>
                                </div>
                                <div class="footer-contact-links-divider"></div>
                                <div class="footer-contact-link-wrapper">
                                    <div class="image-wrapper footer-contact-link-icon">
                                        <div class="footer-icon"> <i class="fa-thin fa-envelope"></i> </div>
                                    </div>
                                    <div class="footer-contact-link-content">
                        <h6>e-Mail</h6>
                        <p>Contact@multinettoyage94.fr</p>
                                    </div>
                                </div>
                                <div class="footer-contact-links-divider"></div>
                                <div class="footer-contact-link-wrapper">
                                    <div class="image-wrapper footer-contact-link-icon">
                                        <div class="footer-icon"> <i class="fa-thin fa-location-dot"></i> </div>
                                    </div>
                                    <div class="footer-contact-link-content">
                        <h6>Adresse</h6>
                        <p>94 - Val-de-Marne, Île-de-France, France</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- second footer -->
            <div class="second-footer">
                <div class="row">
                    <!-- about & social icons -->
                    <div class="col-md-4 widget-area">
                        <div class="widget clearfix">
                            <div class="footer-logo"> 
                                <div style="">
                                    <img src="{{ asset('img/logofooter.png') }}" alt="" style="width: 120px; height: auto background-color: #33cc66;">
                                </div>
                            </div>
                            <div class="widget-text">
                                <p>Avec des années d'expérience, nous proposons des services de nettoyage professionnel pour bureaux, immeubles, chantiers, industries et vitrerie.</p>
                                <div class="social-icons">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- quick links -->
                    <div class="col-md-3 offset-md-1 widget-area">
                        <div class="widget clearfix usful-links">
                            <h3 class="widget-title">Liens rapides</h3>
                            <ul>
                                <li><a href="{{ path('app_about') }}">À propos</a></li>
                                <li><a href="{{ path('app_services') }}">Services</a></li>
                                <li><a href="{{ path('app_demande_devis_index') }}">Demander un devis</a></li>
                                <li><a href="{{ path('app_team') }}">Équipe</a></li>
                                <li><a href="{{ path('app_demande_devis_index') }}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- subscribe -->
                    <div class="col-md-4 widget-area">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Newsletter</h3>
                            <p>Souhaitez-vous être informé de nos services ? Inscrivez-vous et nous vous enverrons des notifications par email.</p>
                            <div class="widget-newsletter">
                                <form action="#">
                                    <input type="email" placeholder="Email Address" required>
                                    <button type="submit"><i class="fa-regular fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- bottom footer -->
            <div class="bottom-footer-text">
                <div class="row copyright">
                    <div class="col-md-12">
                        <p class="mb-0">&copy;2025 Multi-Nettoyage Propreté plus 94. Tous droits réservés.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>