<nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <div class="logo-wrapper">
                <a class="logo" href="{{ path('app_home') }}"><img src="{{ asset('img/logo.png') }}" class="logo-img" alt=""></a>
            </div>
            <!-- Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="ti-menu"></i></span> </button>
            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link {% if app.request.get('_route') == 'app_home' %}active{% endif %}" href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link {% if app.request.get('_route') == 'app_about' %}active{% endif %}" href="{{ path('app_about') }}">À propos</a></li>
                    <li class="nav-item dropdown"> <a class="nav-link {% if app.request.get('_route') starts with 'app_services' %}active{% endif %} dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Services <i class="ti-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('app_services') }}" class="dropdown-item"><span>Tous nos services</span></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="{{ path('app_service_industriel') }}" class="dropdown-item"><span>Nettoyage industriel</span></a></li>
                            <li><a href="{{ path('app_service_chantier') }}" class="dropdown-item"><span>Nettoyage de chantiers</span></a></li>
                            <li><a href="{{ path('app_service_immeuble') }}" class="dropdown-item"><span>Nettoyage d'immeubles</span></a></li>
                            <li><a href="{{ path('app_service_bureaux') }}" class="dropdown-item"><span>Nettoyage de bureaux</span></a></li>
                            <li><a href="{{ path('app_service_vitres') }}" class="dropdown-item"><span>Nettoyage de vitres</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link {% if app.request.get('_route') == 'app_demande_devis_index' %}active{% endif %}" href="{{ path('app_demande_devis_index') }}">Contact</a></li>
                </ul>
                <div class="navbar-right">
                    <div class="btn-wrap">
                        <a href="{{ path('app_demande_devis_index') }}" class="button" style="background-color: #1f9d55; border-color: #1f9d55; color: #fff;"> <span class="text">Demander un devis</span> <span class="icon"><i class="fa-solid fa-right-long"></i></span> </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>